<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Recover Password</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "../../static/vendor/bootstrap/css/bootstrap.min.css" %}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "../../static/css/full.css" %}>
    <!-- <link rel="stylesheet" href="sandstonebootstrap.css"> -->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href={% static "../../static/vendor/font-awesome/css/font-awesome.min.css" %}>
</head>

<body class="bg-dark">



{% block title %}Password reset complete{% endblock %}

{% block content %}
<p>Your password has been set.  You may go ahead and log in now.</p>
<p><a href="{{ login_url }}">Log in</a></p>
{% endblock %}
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
