<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Recover Password</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "vendor/bootstrap/css/bootstrap.min.css" %}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "css/full.css" %}>
    <!-- <link rel="stylesheet" href="sandstonebootstrap.css"> -->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href={% static "vendor/font-awesome/css/font-awesome.min.css" %}>
</head>

<body class="bg-dark">


 <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Forgot your password?</div>
      <div class="card-body">



{% block title %}<h4 class="text-center"> Setting New Password </h4> {% endblock %}

{% block content %}
    {% if validlink %}
        <p class="text-center">Please enter your new password twice
           to verify you typed it in correctly.</p>
            <div class="row">


        <form class="col-md-12 text-center form-horizontal" method="post">{% csrf_token %}
    <fieldset>
  
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="form-control alert-danger form-control-danger">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p  style="display: none;" class="form-text"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
       {% endif %}
       {% endblock %}
    </fieldset>
    <div style="padding-top: 20px;" class="form-actions">
        <button type="submit" class="btn btn-primary" >Submit</button>
    </div>
</form> 
</div>




       <div class="col-md-12 text-center">
          <a class="d-block small mt-3" href="/signup">Register an Account</a>
          <a class="d-block small" href="/login">Login Page</a>
        </div>
    
 
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
