<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Recover Password</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "vendor/bootstrap/css/bootstrap.min.css" %}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "css/full.css" %}>
    <!-- <link rel="stylesheet" href="sandstonebootstrap.css"> -->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href={% static "vendor/font-awesome/css/font-awesome.min.css" %}>
</head>

<body class="bg-dark">


 <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Forgot your password?</div>
      <div class="card-body">



{% block title %}<h4 class="text-center"> Setting New Password </h4> {% endblock %}

{% block content %}
    {% if validlink %}
        <p class="text-center">Please enter your new password twice
           to verify you typed it in correctly.</p>
            <div class="row">
      <!-- left column -->
      <div class="col-md-4 text-center">
        <div class="text-center">
        </div>
      </div>


<div class="col-md-7">
        <form class="text-center" action="" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">New password:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Confirm password:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input class="btn btn-primary" type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
        </div>
        
         <div class="col-md-2 text-center">
        <div class="text-center">
        </div>
      </div>
        </div>

        </div>
    {% else %}
        <h1>Password reset unsuccessful</h1>
        <p>The password reset link was invalid, <br />
        possibly because it has already been used. <br />
        Please request a new password reset.</p>
    {% endif %}
{% endblock %}


       <div class="text-center">
          <a class="d-block small mt-3" href="/signup">Register an Account</a>
          <a class="d-block small" href="/login">Login Page</a>
        </div>
      </div>
    </div>
 
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
