<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Duke Conversations Login</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "../../static/vendor/bootstrap/css/bootstrap.min.css" %}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "../../static/css/full.css" %}>
    <!-- <link rel="stylesheet" href="sandstonebootstrap.css"> -->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href={% static "../../static/vendor/font-awesome/css/font-awesome.min.css" %}>
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-login mx-auto mt-5">
      <div class="card-header">Login</div>
      <div class="card-body">
<!-- 		{% if form.errors %}
			<p class=" label label-danger">
				Your username and password didn't match. Please try again.
				{{form.errors}}
			</p>
		{% endif %}
        <form action="" method='post'> {% csrf_token %}
			{{ form.as_p }}
			<button type='submit' class="btn btn-primary btn-block">Log in</button>
        </form> -->
{% if form.errors %}
      <p class="label label-danger">
        Your username and password didn't match. Please try again.
        {{form.errors}}
      </p>
    {% endif %}

    <form class="form-horizontal text-center" method="post">{% csrf_token %}
    <fieldset>
        <legend>{{ title }}</legend>
        {% for field in form %}
            {% if field.errors %}
                <div class="control-group error">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        <span class="help-inline form-control form-control-danger">
                            {% for error in  field.errors %}{{ error }}{% endfor %}
                        </span>
                    </div>
                </div>
            {% else %}
                <div class="control-group">
                    <label class="control-label">{{ field.label }}</label> 
                    <div class="controls">{{ field }}
                        {% if field.help_text %}
                            <p class="help-text"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
     <div  style="padding-bottom: 40px; padding-top: 20px;" class="form-group">
            <button type='submit' class="btn btn-primary btn-block">Log in</button>
            </div>
</form> 
        <div class="text-center">
          <a class="d-block small mt-3" href="signup">Register an Account</a>
          <a class="d-block small" href="admin">Login as Admin</a>
          <a class="d-block small" href="password">Forgot Password?</a>

        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
