<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Current Dinners</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "../../static/vendor/bootstrap/css/bootstrap.min.css" %}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={% static "../../static/css/full.css" %}>
    <!-- <link rel="stylesheet" href="sandstonebootstrap.css"> -->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href={% static "../../static/vendor/font-awesome/css/font-awesome.min.css" %}>
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Duke Conversations</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link active" href="home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="register">Sign Up for a Dinner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="review">Review Dinner</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="edit">Edit Profile</a>
            </li>
            <li class="nav-item">
				<a class="nav-link" data-toggle="modal" data-target="#exampleModal" href="logout">
					<i class="fa fa-fw fa-sign-out"></i>Logout
				</a>
			</li>
          </ul>
        </div>
      </div>
    </nav>




    <!-- Page Content -->
<!--   <div class="mt-4 col-md-12">
        This will have a two-point top margin!


</div>  -->
<div class="container jumbotron">
        <h1 class="text-center" style="margin-top: 50px">Future Dinners</h1>
    <hr>
	{% for dinner in dinners %}
	 <div class="row">
	<div class="card w-75 card-outline-secondary mb-3">
		<div class="card-block">
			<h3 class="card-title" style="padding: 15px 15px 0 15px">Topic: {{ dinner.topic }}</h3>
			<h6 class="card-text" style="padding: 0 15px 0 15px">Professor: {{ dinner.professor_id }}</h6>
			<p class="card-text" style="padding: 0 15px 15px 15px">Description: {{ dinner.description }}</p>
		</div>
	</div>
		</div>
	{% endfor %}

<!--Logoutmodal-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
            <a class="btn btn-primary" href="logout">Logout</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
