<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Create an Account</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href={% static "vendor/bootstrap/css/bootstrap.min.css" %}>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href={$ static "css/full.css" %}>
    <!-- <link rel="stylesheet" href="sandstonebootstrap.css"> -->
    <!-- Custom fonts for this template-->
    <link rel="stylesheet" type="text/css" href={% static "vendor/font-awesome/css/font-awesome.min.css" %}>
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">Create an Account</div>
      <div class="card-body">
        <form method='post'> {% csrf_token %}
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">First name</label>
                <input name='firstname' class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="Enter first name">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">Last name</label>
                <input name='lastname' class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="Enter last name">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="netid1">Net ID</label>
            <input name='netid' class="form-control" id="netid1" placeholder="Enter Net ID">
          </div>
           <div class="form-group">
            <label for="uniqueid1">Unique ID</label>
            <input name='uniqueid' class="form-control" id="uniqueid1" placeholder="Enter Unique ID">
          </div>
            <div class="form-group">
            <label for="Year1">Year</label>
            <input name='year' class="form-control" id="Year1" placeholder="Enter Year">
          </div>
           <div class="form-group">
            <label for="Major1">Major</label>
            <input name='major' class="form-control" id="uniqueid1" placeholder="Enter Major">
          </div>
          <div class="form-group">
            <label for="pronouns1">Pronouns:</label>
            <div>
               <div class="ui-select">
                <select name="pronouns" id="pronouns" class="form-control">
                  <option value="Him">He/Him</option>
                  <option value="Her">She/Her</option>
                  <option value="They">They/Their</option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="Allergies1">Food Allergies</label>
            <input name='allergies' class="form-control" id="Allergies1" placeholder="Enter Food Allergies">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">Password</label>
                <input name='pass' class="form-control" id="exampleInputPassword1" type="password" placeholder="Password">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">Confirm password</label>
                <input name='pass2' class="form-control" id="exampleConfirmPassword" type="password" placeholder="Confirm password">
              </div>
            </div>
          </div>
           
          <button type='submit' class="btn btn-primary btn-block" href="signup">Register</button>
        </form>
        <div class="text-center">
          <a class="d-block small mt-3" href="login">Login Page</a>
          <a class="d-block small" href="forgot-password.html">Forgot Password?</a>
        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
